name: qrpruf
description: A Flutter project with no scroll and adaptive layout.
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.1.0

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  fonts:
    - family: DSDigital
      fonts:
        - asset: assets/fonts/DS-DIGIT.ttf

  assets:
    - assets/
    - assets/images/